html,
body {
    height: 100%;
    color: #555;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.prod-card {
    border: 1px solid #555;
}
.prod-card .prod-title{
    text-align: center;
    font-size: 20px;
    height: 56px;
}
.bottom-text {
    margin-top: 50px;
}
.prod-img-wrap{
    text-align: center;
    height: 190px;
}
.prod-img-wrap img{
    max-width: 100%;
    max-height: 100%;
}

.prod-price {
    text-align: center;
    height: 70px;
}
.prod-price span{
    width: 100%;
    display: inline-block;
    font-size: 24px;
    color: #588c5c;
}
.prod-price span+span{
    text-decoration: line-through;
    color: #9c9c9c;
}
.btn-wrap {
    text-align: center;
    margin: 5px 0 20px 0;
}

.prod-price.prod-price-inner {
    text-align: left;
}

.prod-price.prod-price-inner span{
    display: inline-block;
    font-size: 34px;
    width: auto;
    margin-right: 20px;
}
.prod-price.prod-price-inner span+span{
    font-size: 26px;
}
.prod-img-wrap-inner {
    text-align: center;
}

.prod-img-wrap-inner img{
    max-width: 100%;
    max-height: 100%;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}

.top-search {
    margin-top: 30px;
}
.slogan {
    font-style: oblique;
    font-size: 20px;
    margin-top: 2px;
}
.btn-top-search {
    background-color: #229830;
    color: #fff;
    font-size: 19px;
    padding: 3px 12px 2px 12px;
}
.btn-top-search:hover,
.btn-top-search:active,
.btn-top-search:focus {
    background-color: #176920;
    color: #fff;
    font-size: 19px;
    padding: 3px 12px 2px 12px;
}
.navbar-top{
    background-color: #229830;
}
.navbar-top .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
}
.navbar-top .navbar-nav > li > a:hover {
    color: #ff671e;
}
.blueimp-gallery-carousel {
    padding-bottom: 41.25%;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb a {
    color: #176920;
}
.sidebar-menu {
    list-style: none;
    background-color: #229830;
    padding: 15px;
}
.sidebar-menu a {
    color: #fff;
}
.sidebar-menu a:hover {
    color: #ff671e;
}
.sidebar-menu .sub-category {
    margin-left: 10px;
    padding-left: 10px;
    background-color: #29c33c;
}